<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Place Order</title>
</head>
<body>
<h2>Place Order</h2>

<form th:action="@{/orders/form}" th:object="${order}" method="post">

    <label>Account No:</label>
    <input th:field="*{accountNo}" /><br/><br/>

    <label>Ticker Symbol:</label>
    <input th:field="*{tickerSymbol}" /><br/><br/>

    <label>Transaction Date:</label>
    <input th:field="*{transactionDate}" placeholder="2025-11-21" /><br/><br/>

    <label>Transaction Time:</label>
    <input th:field="*{transactionTime}" placeholder="10:30" /><br/><br/>

    <label>Quantity / Volume:</label>
    <input th:field="*{quantityOrVolume}" type="number" /><br/><br/>

    <label>Price:</label>
    <input th:field="*{price}" type="number" step="0.01" /><br/><br/>

    <button type="submit">Submit Order</button>
</form>


</body>
</html>
