<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Orders</title>
</head>
<body>

<h2>All Placed Orders</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Stock</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
        <th>Status</th>
    </tr>

    <tr th:each="o : ${orders}">
        <td th:text="${o.id}"></td>
        <td th:text="${o.userId}"></td>
        <td th:text="${o.stockSymbol}"></td>
        <td th:text="${o.quantity}"></td>
        <td th:text="${o.pricePerUnit}"></td>
        <td th:text="${o.totalAmount}"></td>
        <td th:text="${o.status}"></td>
    </tr>
</table>

<br/>
<a th:href="@{/orders/form}">Place Another Order</a>
</body>
</html>
